<div class="print-block">
  <a class="info__print" href="{{ base_url }}node/{{ nid }}/printable/print" target="_blank">Print</a>
  <a class="info__mail" href = "/mail/node/{{ nid }}/{{ uid }}" target="_blank">Mail</a>
  <a class="info__download" href="{{ base_url }}node/{{ nid }}/printable/pdf">Download</a>
  <a class="info__icon" href="{{ base_url }}reprints-and-permissions" target="_blank"><img src="/themes/custom/nlr_theme/images/nlr_info.png" />i</a>
</div>
